[core]
        excludesfile = ~/.gitignore
	pager = less

[push]
	default = current

[user]
	name = Chris Tweney
	email = chris.tweney@vivun.com
	signingkey = 567921704F1F1B48

[colour]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[alias]
	st = status
	ci = commit -a -v
	co = checkout
	br = branch
	down = pull
	onup = push

[merge]
	tool = araxis
	summary = true

[diff]
	tool = araxis
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[init]
	templatedir = ~/.git_template
