[core]
    excludesfile = ~/.gitignore
	pager = less

[push]
	default = current

[user]
	name = Callie Tweney
	email = callie.tweney@vivun.com
	signingkey = DF33F38FF0714FC4

[colour]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[alias]
	st = status
	ci = commit -a -v
	co = checkout
	br = branch --track=inherit
	fwb = checkout --track=inherit -b
	down = pull
	onup = push

[merge]
	summary = true

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = true
